body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 6.4rem;
}

.img-responsive {
  width: 100%;
  display: block;
}

.card-header .img-responsive, 
.card-header .embed {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}

.card-header .embed {
  min-height: 0;
  aspect-ratio: unset;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.instagram-embeds {
  margin: 3rem 0;
}

.card {
  background: white;
  margin: 3rem 0;
}

.card-header.grid {
  grid-gap: 0;
}


.card-body {
  padding: 3rem;
}

.card-footer {
  padding: 0 3rem 3rem;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 1.6rem;
  background-color: #462cb3;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 10rem;
}

section.secondary {
  background: #f8f8f8;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Berlin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20rem 0;
}

header h1 {
  font-weight: 700;
  font-size: 9.6rem;
  line-height: 1;
  margin: 3rem 0;
}

header h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.5rem;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 1.6rem 3.2rem;
  margin-top: 3.2rem;
  display: inline-block;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0.5rem;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/berlin-footer.webp");

  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

footer p {
  font-weight: 400;
  font-size: 1.6rem;
  opacity: 0.7;
  line-height: 2.4rem;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 96rem) {
  header {
    padding: 6rem 0;
  }

  header h1 {
    font-size: 4.8rem;
  }

  header h2 {
    font-size: 2rem;
  }

  header h3 {
    font-size: 1.2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 3.2rem;
  }

  section {
    padding: 3rem;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}